body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0px 13px;
}

header h1{
    margin: 0;
}

section{
    padding: 30px;
    background-color: #0e0e60;
    margin: 0px 13px;
}

.about{
    display: flex;
}

img {
    width: 216px;
    height: 207px;
    border-radius: 50%;
    margin-left: 34px;
}

.bio {
    max-width: 600px;
    margin: 20px auto;
    text-align: justify;
}

.skills, .projects, .resume, .contact {
    margin-top: 5px;
}

.project {
    margin-bottom: 30px;
}

.resume a {
    color: white;
}

.projects img{
    width: 300px;
    height: 200px;
    border: none;
    border-radius: 4px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px 13px;
    bottom: 0;
}

@media screen and (max-width: 1000px)
{
    .about{
        display: inline-block;
    }
}